@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    body {
        font-family: "Poppins", sans-serif;
    }
    /* Ẩn scrollbar cho cả trình duyệt Webkit (Chrome, Edge, Safari) và Firefox */
    .no-scrollbar::-webkit-scrollbar {
        display: none; /* Ẩn scrollbar trên Chrome, Edge, Safari */
    }

    .no-scrollbar {
        scrollbar-width: none; /* Ẩn scrollbar trên Firefox */
    }
}
